<% if alert %>
  <p class="bg-danger container-fluid"><%= alert %></p>
<% end %>
<!DOCTYPE html>
<head>
  <title>Dicodon Graph</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<br />
<body>
  <!-- When submit the form, the view rendered will be the index view of our articles resource -->
  <%= form_tag(sequences_path, :method => "post", class: "form-group container-fluid", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Input Sequence" %>
    <br >
    <%= submit_tag "Display Graphs", class: "btn btn-success btn-lg btn-block" %>
      <%= yield %>
  <% end %>

</body>
