<% if alert %>
  <p class="bg-danger container-fluid"><%= alert %></p>
<% end %>
<!DOCTYPE html>
<head>
  <title>Dicodon Graph</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<br />
<body>
  <!-- When submit the form, the view rendered will be the index view of our articles resource -->
  <%= form_tag(sequences_path, :method => "post", class: "form-group container-fluid", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Input Sequence" %>
    <div class= "form-inline">
      <div class = "form-group">
        <h4>Select frequency letter: </h4>
      </div>
      <div class = "form-group">
        <%= select_tag "di_letter", options_for_select([ "G", "T", "A", "C" ], "G")%> 
      </div>
      <div class = "form-group">
        <h4>Select frequency range: </h4>
      </div>
      <div class = "form-group">
        <%= select_tag "di_win", options_for_select((2..10), params[:di_win])%>
      </div>
    </div>
    <%= submit_tag "Display Graphs", class: "btn btn-success btn-lg btn-block" %>
      <%= yield %>
  <% end %>

</body>
